body{

    font-family:Arial, Helvetica, sans-serif
   
}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#navbar{

     
      max-width: 1600px;  
}

#navbar .container{

    display:flex;
    justify-content: space-between;
    
    
    
}

.lh{

    max-width: 243px;
    margin-left:80px;
    margin-top: 87px;
    color:#3A3A3A;
    font-size: 24px;
    font-weight: 600px;
    flex:1;
    padding-bottom: 145px;
}

.container .cart-icon{

     display:none;
}

.container .btn{

    max-width: 443px;
   
    gap:34px;
    margin-top: 87px;
    flex:3;
    display:flex;
    justify-content: flex-end;
    
     margin-right: 80px; 
     padding-bottom: 30px;
}

.container .btn a{
      text-decoration: none;
      list-style: none;
      color:#3A3A3A;
      font-weight: 600px;
      

      }


  .sec-container{

       display: flex;
       justify-content: space-around;

  }
  .text-container{

    max-width: 582px;
    
    
  }


  .hd{

     font-weight: bold;
     font-size: 52px;
     padding-bottom: 18px;
     color:#3A3A3A;


  }

  .pd{

    font-weight: 600;
    font-size: 16px;
    color:#3A3A3A;
    padding-bottom: 30px;
  }

  .text-container a{

        max-width: 196px;
        text-decoration: none;
        border:1px solid #E02C6D;
        background-color: #E02C6D;
        border-radius: 16px;
        color:#ffffff;
        padding:16px;
        


  }


  .circle-container{

          width:440px;
          height:440px;
          background-color: #A2D2DF;
          border-radius: 50%;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;


  }


   .circle-container::before{

         content: "";
         position: absolute;
         width:360px;
         height: 360px;
         background-color: #F7CAD0;
         border-radius: 50%;
           z-index: 1;  
         
          

  }

  .circle-container img{
       width: 90%;
       position: relative;
       z-index: 2;
       filter: drop-shadow(0px 10px 20px rgba(0,0,0,0.15));
       transform:translateY(-40px);
       transition: transform 0.3s ease;
  }

  .image-wrapper{

      margin-top:-60px;
  }


  .circle-container img:hover{

      transform: translateY(-60px);
  }

 .icon-container{

    max-width: 986px;
    display:flex;
    margin:auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:30px;
    border:1px solid #AAAAAA;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 10px;
 }

 .icon-container:hover{
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15); 
      border-color: transparent;
 }



 .hf{

    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color:#3A3A3A;
 }
 .content-features{

      width: 1047px;
      height: 1400px;
      
      margin:auto;
      align-items: center;
      justify-content: center;
 }

 
 .content-features .box-card{

      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:30px;
      align-items: center;
      justify-content: center;
      text-align: center;
 }

 .box{

    max-width: 329px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding-top: 20px;

 }

 .box .nw{

    
    text-align: left;
    justify-content: center;
    align-items: center;
    padding-left:14px;
    padding-bottom: 14px;
    

 }

 /* .box img{

      align-items: center;
      justify-content: center;
      margin:auto;
      text-align: center;
 } */

 .font-container{


      display: flex;
      
 }


 #Content .content-text-and-image{
       display: flex;
       max-width: 1110px;
       align-items: center;
       justify-content: center;
       margin: auto;


 }

 .context .hcon{

       font-weight: bold;
       font-size: 38px;
       color: #0A0826;
       padding-bottom: 16px;
 }

 .pcon{

     font-weight: bold;
     font-size: 16px;
     color: #6C6C6C;
     padding-bottom: 16px;
 }


 .content-text-and-image{

     padding-bottom: 100px;
 }

 .context{


     padding-left: 96px;
    
 }
.context a{

     max-width: 155px;
     border:1px solid #E02C6D;
     text-decoration: none;
     background-color: #E02C6D;
     border-radius: 16px;
     padding:8px;
}

.footer-content{
          
     text-align: center;
     justify-content: center;
     align-items: center;
     margin:auto;
     background-color: #08041C;
     color:#fff;
     padding:50px;

}

.ft-text .fh{

     padding-bottom: 8px;
}

.ft-text .fc{

     padding-bottom: 8px;
}

.ft-text .fl{

     padding-bottom: 8px;
}

.footer-content .icon-card i{
             
        gap:30px;
        border:1px solid;
        border-radius: 20px;
        margin-right: 20px;
        padding:8px;
}


@media screen and (max-width:576px){

     #navbar .container{

           display:grid;
           grid-template-columns: 1fr;
           align-items: center;
           justify-content: center;
           margin-bottom: 60px;
     }

     

     .menu-icon, .cart-icon {
        display: block;
        font-size: 20px;
        color: #3A3A3A;
        cursor: pointer;
    }

    .cart-icon {
        text-align: left;
    }

     .lh{

           margin:auto; 
           margin-top: 20px;
           padding-bottom: 20px;   
           text-align: center;
           justify-content: center;
           align-items: center;
     }

     .container .btn{

           /* display: grid;
           grid-template-columns: repeat(2,1fr);
           gap:15px;
           margin:auto; */

           display: none;

     }

     #step1 .sec-container{

          width:100%;
          display:grid;
          grid-template-columns: 1fr;
          gap:90px;
          margin:auto;
          align-items: center;
          justify-content: center;
     }

     .text-container a{

          padding: 8px;
     }

     .text-container{

          text-align: center;
          align-items: center;
          justify-content: center;
          margin:auto;
     }

     .text-container{

          font-size: 28px;
     }

     .image-wrapper{

          align-items: center;
          justify-content: center;
          margin:auto;
     }

     .circle-container{

          width: 300px;
          height: 300px;

     }

     .circle-container::before{

          width: 250px;
          height: 250px;
     }

     #icon .icon-container{
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3,1fr);
          margin-top: 80px;
          padding-right: 50px;
          padding-left: 20px;
          margin:auto;
     }

     #features .content-features{

          width: 100%;
          height: auto;
          margin:auto;
     }

     .content-features .box-card{

          display: grid;
          grid-template-columns: 1fr;
          margin:auto;
     }

     .box{


          margin:auto;
          align-items: center;
          justify-content: center;
          text-align: center;

     }

     #content{

          margin:auto;
          text-align: center;
            align-items: center;
            justify-content: center;

     }

     #Content .content-text-and-image{
            display: grid;
            grid-template-columns: 1fr;
            gap:30px;
            margin:auto;
            text-align: center;
            align-items: center;
            justify-content: center;
     }

     .image img{

          margin:auto;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          margin-right: 50px;
          
          
     }

     .context{
          margin:auto;
          text-align: center;
          align-items: center;
          justify-content: center;
          padding-left: 50px;
          padding-right: 80px;
          
         
     }


     
}





 
 

 


  